# Dependencies
node_modules

# Build outputs
dist
build

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Logs
*.log
logs

# Test
coverage
*.test.js
*.test.ts

# Development files
README.md
.env
.env.local
.env.*.local
